
h1 {
    text-align:center;
   color:rgb(64, 106, 144);

}
.intro {
    text-align: center;
    border-radius:50%;
    object-fit: cover;
}
p{
    text-indent: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    
}
div{
    
}
ul{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text indent:40px;
    font-size:150%;
}
*{
    background-color: blanchedalmond;
}